@import './ui.css';
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Manrope', system-ui, sans-serif;
  font-size: 15px;
}

*:not(input):not(textarea):not([contenteditable='true']):not(
    .no-focus-visible
  ):focus-visible {
  outline: 0 !important;
  /* box-shadow: theme(colors.primary) 0px 0px 0px 2px !important; */
}

@layer components {
  .modal-card {
    @apply !w-[60rem] !max-w-[90vw];

    &.sm {
      @apply !w-[40rem];
    }

    &.xs {
      @apply !w-[30rem];
    }
  }
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
}

@screen md {
  input,
  textarea {
    font-size: 16px;
  }
}
