@tailwind base;
@tailwind components;
@tailwind utilities;

*:not(input):not(textarea):not([contenteditable='true']):not(
    .no-focus-visible
  ):focus-visible {
  outline: 0 !important;
  /* box-shadow: theme(colors.primary) 0px 0px 0px 2px !important; */
}

@layer components {
  .modal-card {
    @apply !w-[60rem] !max-w-[90vw];

    &.sm {
      @apply !w-[40rem];
    }

    &.xs {
      @apply !w-[30rem];
    }
  }
}

html {
  font-size: 16px;
}

@screen 4k {
  font-size: 14px;
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
}

@screen md {
  input,
  textarea {
    font-size: 16px;
  }
}
