@layer base {
  * {
    @apply border-border;
  }
}

@layer base {
  :root {
    --background: theme(colors.background);
    --foreground: theme(colors.foreground);

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: theme(colors.background);
    --popover-foreground: theme(colors.foreground);

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: theme(colors.background);
    --card-foreground: theme(colors.foreground);

    --primary: theme(colors.primary);
    --primary-foreground: theme(colors.primary-content);

    --secondary: theme(colors.secondary);
    --secondary-foreground: theme(colors.foreground);

    --accent: 210 40% 96.1%;
    --accent-foreground: theme(colors.foreground);

    --destructive: theme(colors.error);
    --destructive-foreground: theme(colors.error-content);

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  [data-theme='dark'] {
    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}
